*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        background: #B0BEC5;
        overflow-x: hidden;
}   
nav{
    background: #fff;
}
nav h1{
   padding: 10px;
}
nav h1 span{
   color: #D500F9;

}
header .container{
    padding-top: 50px;
}
header .container .headertitle h1{
    text-align: center;
    color: #D500F9;
}
header .container .headertitle p{
    text-align: center;
    margin-top: 10px;
    /* color: ; */
}
header .container .headerformsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
header .container .headerformsection .form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    padding: 1rem ;   
}
header .container .headerformsection form{
    width: 350px;
    height: auto;
     display: flex;
     gap: 10px;
    flex-direction: column;
    padding: 4rem 2rem;
    background: white;
    border-radius: 18px;

}
header .container .headerformsection form .headerimg{
    padding: 1rem;

}
header .container .headerformsection form .headerimg img{
    width: 250px;
    object-fit: contain;
}
header .container .headerformsection form .username, .mail{
    height: 35px;
    padding: 10px 15px;
    outline: none;
    border-radius: 15px;
}
.gender{
    margin-top: 15px;
    display: flex;
}
.gender div{
    width: 50%;
    display: flex;
    gap: 7px;
}

.gymtype{
    display: flex;
    
}
.gymtype div{
    width: 50%;
    display: flex;
    gap: 7px;
}
header .container .headerformsection form button{
    background-color: #D500F9;
    color: white;
    font-weight: 600;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
}
#Latest-gym-Equipment{
    padding-top: 4rem;
}
.Latest-gym-Equipment .items{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 15px 0 15px 0;
    padding: 2rem;
}
.Latest-gym-Equipment .items div{
    width: 220px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.Latest-gym-Equipment .items div img{
    width: 100%;
    object-fit: contain;
}
.Equipment-membership{
    display: flex;
    
}
.Equipment-membership div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
 
}
.Equipment-membership div img{
    width: 250px;
 
}
.Equipment-membership .Equipment{
    background: white;
 
}
.Equipment-membership .membership{
    background:#D500F9;
;
 
}
footer{
    margin-top: 25px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    /* background-color: #1111; */
    /* color: black; */
}


@media screen and (max-width:1024px){
    header .container .headerformsection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    }

}

@media screen and (max-width:860px){
    .Equipment-membership{
    display: flex;
    flex-direction:column-reverse;
    
}
.Equipment-membership div{
    width: 100%;
    
 
}

}